.assetsContainer{
  width: 100%;
  min-height: 100vh;
  .intelligence{
    position: fixed;
    width: 70px;
    height: 70px;
    left: 10px;
    bottom: 140px;
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
  }
}
.advice{
  margin: 4px 0;

}
.gochat{
  color: blue;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%, 
  70% {
    transform: translate3d(-3px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(3px, 0, 0);
  }
}